@font-face {
  font-family: "ppr";
  src: url("./ageFonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "ppb";
  src: url("./ageFonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: "ppeb";
  src: url("./ageFonts/Poppins-ExtraBold.ttf");
}

@font-face {
  font-family: "ppei";
  src: url("./ageFonts/Poppins-ExtraBoldItalic.ttf");
}

/* Container */
html {
  background-color: hsl(0, 0%, 86%);
  font-family: "ppb";
  box-sizing: border-box;
}
.age-calculator {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
  margin: auto;
  margin-top: 90px;
  min-height: 480px;
  padding: 20px;
  border-radius: 15px;
  border-bottom-right-radius: 120px;
  background-color: hsl(0, 0%, 100%);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* Labels */

.label {
  margin-bottom: 5px;
  font-family: "ppb";
  font-size: 12px;
}

/* Input fields */

.input-field {
  width: 50%;
  padding: 17px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 20px;
  font-family: "ppeb";
}

hr {
  border: 0.2px solid #d3cdcd; /* Adjust the thickness as needed */
  width: 650px;
  margin-left: 3px;
  margin-top: 33px;
  display: inline;
  align-self: baseline;
}

.image_adjust {
  margin-left: 0px;
  margin-top: -10px;
}

div.sub_1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

div.sub_1 > div {
  margin: 10px;
  width: 200px;
}

div.liner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/* Button */

.button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Output */

.output {
  font-size: 55px;
  margin-top: 20px;
  color: hsl(259, 100%, 65%);
  font-family: "ppei";
}

/* Output */

.output_label {
  font-size: 55px;
  margin-top: 20px;
  font-family: "ppei";
}

.output_mes {
  font-size: 12px;
  margin-top: 30px;
  color: hsl(259, 100%, 65%);
  font-family: "ppb";
}

.posit {
  position: fixed;
  top: 50%;
  left: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Specific styles */

.day,
.month,
.year {
  display: inline-block;
  width: 30%;
  text-align: center;
}

.result {
  font-weight: bold;
}

.pointer {
  cursor: pointer;
}

.fmedium {
  font-size: 30px;
}

.mmedium {
  margin: -4px;
}
